.contact{
    display: flex;
    flex-direction: column;
    padding: 40px 170px;
    gap: 30px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
}
.contact h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 27px;
    background: linear-gradient(276deg, #e7e9bb, #403b4a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}  
.contact p{
    line-height: 22px;
    padding: 10px;
}

a{
    text-decoration: underline;
    color: #e7e9bb;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
a:hover{
    transform: scale(1.05);
    
}



.contact-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-bottom-right{
    display: flex;
    gap: 20px;
}
span{
    color: #e7e9bb;
}
@media(max-width: 771px){
    .contact{
        padding: 0px 70px;
    }
}
@media(max-width: 610px) {
    .container{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width: 400px){
    .contact{
        padding: 20px;
    }
    .contact-bottom-right{
        display: none;
    }
}