.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 100px;
}
.logo{
    background: linear-gradient(#403b4a, #e7e9bb, #403b4a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    min-width: 320px;
}
.nav-menu{
    display: flex;
    list-style: none;
    gap: 80px;
    font-size: 20px;
    margin-right: 30px;
}
.nav-menu button{
    padding: 10px 40px;
    border-radius: 20px 0px 20px 0px;
    background: linear-gradient(#403b4a, #e7e9bb, #403b4a);
    transition: 0.3s;
    cursor: pointer;

}
.nav-menu button:hover{
    transform: scale(1.15);
}


